@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* нужно для прижатия футера */
}

body {
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    background-color: #F0EDE5;
    color: #2A1A1F;

    /* Фикс для "липкого" футера */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* тело занимает всю высоту окна */
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

a:hover {
    color: #004643;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    /* Чтобы футер "прилипал" к низу, контент тянется */
    flex: 1 0 auto;
}

/* Основные контейнеры тоже могут растягиваться */
main,
.container {
    flex: 1 0 auto;
}

/* Футер не сжимается и остаётся внизу */
footer {
    flex-shrink: 0;
}
