@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: black;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background-color: #F0EDE5;
    width: 100%;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

header{
    padding: 40px 0;
}

header nav{
    float: right;
    width: 50%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: black;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #004643;
}

.logo img {
    width: 5%;
}